.home {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
}

.display {
  position: relative;
  border: 1px solid #e0e0e0;
}

.message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.control {
  display: flex;
  gap: 8px;
  align-items: center;
}
