.home {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display {
  background: #ff000020;
  height: 150px;
  width: calc(100vw - 32px);
  display: block;
}
